@model MyRichTextMVC.Models.MyModel

@using MyRichTextMVC.Helper

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" >
            @Html.LabelFor(model => model.MyHtmlData, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* That's it! *@
                @HelperExtensions.Word(Html, new myWordParam("MyHtmlData", Model.MyHtmlData, "100%", "400px"))
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" title="Salva" class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
}

@if (ViewBag.contentOfHTMLEditor != null)
{
    
    <h3 class="text-center">This is what you typed:</h3>
    <div>
        @Html.Raw(ViewBag.contentOfHTMLEditor)
    </div>
}
